[Unit]
Description=Webhook Listener Service
After=network.target

[Service]
ExecStart=/home/ec2-user/webhook -hooks /home/ec2-user/webhook.json -ip 0.0.0.0 -port 9000 -verbose
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
